*, body{
    box-sizing: border-box;
}
body{
    font-size: 10px;
    padding: 2rem;
    background: rgb(84, 87, 95);
    background: -webkit-linear-gradient(77deg, rgb(84, 87, 95) 12%, rgb(0, 229, 60) 90%);
    background: -o-linear-gradient(77deg, rgb(84, 87, 95) 12%, rgb(0, 229, 60) 90%);
    background: -ms-linear-gradient(77deg, rgb(84, 87, 95) 12%, rgb(0, 229, 60) 90%);
background: linear-gradient(77deg, rgb(84, 87, 95) 12%, rgb(0, 229, 60) 90%);
    background-size: 250% 250%;
}
.App{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.container{
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-direction: column;
}

