.my-change{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(../../img/change.svg);
    background-size: cover;
}
.my-delete{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(../../img/delete.svg);
    background-size: cover;
}